/*Body section*/
body {
    background-image: url("..//images/thumb-1920-567772.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
/*Navbar section*/   
.navbar {
    font-family: 'Permanent Marker';
    font-size: 50px bold;
    color: red;             
    background-image: url("..//images/thumb-1920-567772.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
/*Main section and start button*/
.main {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    padding: 10%;
    color: yellow;
}
/*Start button*/
.start, .restart {
    background-color: black;
    color: white;
}
/*Anwers with the hover bar*/
.answers p:hover {
    color: yellow;
    border: 2px;
    border-style: solid;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: black;
}
/*Background color black to see the questions*/
.question, .rightAns {
    background-color: black;
}
