body {
    background-image: url("..//images/stock-vector-a-high-detail-vector-mock-up-of-a-typical-comic-book-page-with-various-speech-bubbles-symbols-and-172602359.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
    
.navbar {
    font-family: 'Permanent Marker';
    font-size: 10px;
    color: black;
    background-image: url("..//images/stock-vector-a-high-detail-vector-mock-up-of-a-typical-comic-book-page-with-various-speech-bubbles-symbols-and-172602359.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.main {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    padding: 10%;
    color: black;
    background-color: lightseagreen;
}

.start {
    background-color: white;
}

.answers p:hover {
    color: black;
    border: 2px;
    border-style: solid;
    font-family: "Comic Sans MS", cursive, sans-serif;
}